@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap');

:root {
  --first: #5aa24e;
  --second: #b1d283;
  --third: #ffffff;
  --fourth: #a9a9a9;
  --fifth: #010101;
  --prob1: 0%;
  --prob2: 0%;
  --prob3: 0%;
  --prob4: 0%;
}

* {
  padding: 0;
  margin: 0;
}

body {
  background-color: var(--fourth);
  font-family: 'Quicksand', sans-serif;
}

h1, h2 {
  text-align: center;
  display: block;
}

span {
  font-size: 2.5rem;
}

.title {
  padding-top: 5vh;
  font-size: 4rem;
}

.subtitle {

}

.hide {
  display: none;
}

.center {
  height: 68vh;
  line-height: 68vh;
}

.inputName {
  width: 45vw;
  height: 9vh;
  background-color: transparent;
  border: 0;
  color: var(--third);
  font-size: 3rem;
}

.inputName:focus {
  outline: none;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: var(--third);
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: red;
}

::-ms-input-placeholder { /* Microsoft Edge */
  color: red;
}

.submitBtn {
  color: white;
  background-color: var(--second);
  border: 0;
  border-radius: 40px;
  width: 12rem;
  height: 4rem;
  font-size: 3rem;
}

.submitBtn:hover {
  outline: 2px solid var(--first);
  cursor: pointer;
}

.country {
  display: inline-block;
  width: 30%;
  color: white;
  text-align: left;
}

.prob {
  display: inline-block;
  width: 10%;
  color: white;
  text-align: right;
}

.dataContainer {
  margin-top: 3vh;
}

.header {
  position:relative;
  text-align:center;
  background: linear-gradient(60deg, var(--first) 0%, var(--third) 100%);
  color: black;
}

.inner-header {
  height: 79vh;
  width: 100%;
  margin: 0;
  padding: 0;
}

.flex {
  /* display: flex; */
  justify-content: center;
  align-items: center;
  text-align: center;
}

.waves {
  position: relative;
  width: 100%;
  height: 15vh;
  margin-bottom: -7px;
  min-height: 100px;
  max-height: 150px;
}

.content {
  position: absolute;
  height: 6vh;
  width: 100vw;
  bottom: 0px;
  text-align: center;
  background-color: white;
}

.progress {
  background: rgba(255,255,255,0.1);
  justify-content: flex-start;
  border-radius: 100px;
  align-items: center;
  position: relative;
  padding: 0 5px;
  height: 40px;
  width: 30vw;
  display: inline-flex;
}

.progress-value1, .progress-value2, .progress-value3, .progress-value4 {
  box-shadow: 0 10px 40px -10px #fff;
  border-radius: 100px;
  background: var(--first);
  height: 30px;
}

.progress-value1 {
  animation: load1 3s normal forwards;
}
.progress-value2 {
  animation: load2 3s normal forwards;
}
.progress-value3 {
  animation: load3 3s normal forwards;
}
.progress-value4 {
  animation: load4 3s normal forwards;
}

@keyframes load1 {
  0% { width: 0; }
  100% { width: var(--prob1); }
}
@keyframes load2 {
  0% { width: 0; }
  100% { width: var(--prob2); }
}
@keyframes load3 {
  0% { width: 0; }
  100% { width: var(--prob3); }
}
@keyframes load4 {
  0% { width: 0; }
  100% { width: var(--prob4); }
}
