:root {
  --first: #283739;
  --second: #2c5d63;
  --third: #a2c11c;
  --fourth: #e0e0e0;
}

body {
  background-color: var(--fourth);
}

h1, h2 {
  text-align: center;
}

.container {
  /* background-color: var(--second); */
  background: linear-gradient(var(--first), var(--second));
  width: 90vw;
  height: 80vh;
  border-radius: 30% 70% 33% 67% / 39% 53% 47% 61%;
  margin: auto;
  text-align: center;
}

.searchCont {
  padding-top: 10vh;
}

.inputName {
  width: 20vw;
  height: 3vh;
}
