@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap');

:root {
  --first: #5aa24e;
  --second: #b1d283;
  --third: #ffffff;
  --fourth: #a9a9a9;
  --fifth: #010101;
}

* {
  padding: 0;
  margin: 0;
}

body {
  background-color: var(--fourth);
  font-family: 'Quicksand', sans-serif;
}

h1, h2 {
  text-align: center;
  display: block;
}

span {
  font-size: 2.5rem;
}

.container {
  padding-top: 10vh;
  background: linear-gradient(var(--first), var(--second));
  width: 80vw;
  height: 90vh;
  border-radius: 30% 70% 29% 71% / 66% 30% 70% 34%;
  margin: auto;
  text-align: center;
}

.searchCont {
  padding-top: 10vh;
}

.inputName {
  width: 45vw;
  height: 9vh;
  background-color: transparent;
  border: 0;
  color: var(--third);
  font-size: 3rem;
}

.inputName:focus {
  outline: none;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: var(--third);
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: red;
}

::-ms-input-placeholder { /* Microsoft Edge */
  color: red;
}

.submitBtn {
  color: white;
  background-color: var(--third);
  border: 0;
  border-radius: 40px;
  width: 12rem;
  height: 4rem;
  font-size: 3rem;
}

.submitBtn:hover {
  outline: 2px solid white;
}

.country {
  display: inline-block;
  width: 30%;
  color: white;
}

.prob {
  display: inline-block;
  width: 30%;
  color: white;
}

.dataContainer {
  margin-top: 3vh;
}





.header {
  position:relative;
  text-align:center;
  background: linear-gradient(60deg, var(--first) 0%, var(--third) 100%);
  color: black;
}

.inner-header {
  height:65vh;
  width:100%;
  margin: 0;
  padding: 0;
}

.flex {
  /* display: flex; */
  justify-content: center;
  align-items: center;
  text-align: center;
}

.waves {
  position:relative;
  width: 100%;
  height:15vh;
  margin-bottom:-7px;
  min-height:100px;
  max-height:150px;
}

.content {
  position:relative;
  height:20vh;
  text-align:center;
  background-color: white;
}
